/* Shark
#2A2F33

Nomad
 #BBB6A5

Mantle
 #8C9491

Manatee
#8C8C9C */

body{
    background-color:#8C8C9C;
    color: #2A2F33;
}

.darker-background{
    background-color:#8C9491;
    border-radius: 100%;
    padding: 35px;
    width: 200px;
    height: 20px;
    margin-left:auto;
    margin-right:auto;
    border:5px solid #8C8C9C;     
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
    border: 10px solid #BBB6A5;
    border-radius: 100%;
    margin-bottom: 10px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    

}

h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
       
}

iframe{
    border-radius: 5%;
}

P{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 300px;
    margin: auto;
}

.text-centered{
  text-align: center;
}

.a-border-box {
        box-sizing: border-box;
        background-color:#8C9491;
        border-radius: 55px;
        padding: 30px;
        width: 800px;
        border:10px solid #BBB6A5;
}  

.b-border-box{
    box-sizing: border-box;
    background-color:#8C9491;
    border-radius: 25px;
    width: 600px;
    border: 10px solid #BBB6A5;
    margin-bottom: 10px;
    padding:20px;  
}

.c-border-box{
    box-sizing: border-box;
    background-color: #BBB6A5;
    border-radius: 25px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;   
}

.d-border-box{
    box-sizing: border-box;
    background-color: #BBB6A5;
    border-radius: 25px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


footer{
    text-align: center;
    box-sizing: border-box;
    background-color: #BBB6A5;
    border-radius: 25px;
    border: 10px solid #8C9491;
    margin-bottom: 10px;
    padding: 5px; 
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 650px;
}
